# pixi environments
.pixi
*.egg-info

# PyMo Environment Git configs
.magic
.venv
*.mojopkg
*.📦
*.\U0001F4E6
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd

# Other configs
../ExtraMojo/
../mopi/
../xmojo/
./
